[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
python-dotenv = "*"
flask = "*"
psycopg2-binary = "*"
flask-cors = "*"
bcrypt = "*"
flask-jwt-extended = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
boto3 = "*"
werkzeug = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
